option#abc{
	 font-size: 15px;
	
}
div.homesection{
	text-align:center;
	 color: #4CAF50;
	font-size:50px;
}
table#studentId{
	margin:0px;
	padding:0px;
}
div.newClass{
	color: #4CAF50;
	background-color:gray;
}


 